div {
    font-family: Arial;
}
a {
    text-decoration: None;
    color: inherit;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: whitesmoke;
}
button {
    background-color: transparent;
    border: none;
}
.head {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    background-color: 	#001f3f;
    position: fixed;
    top: 0;
    bottom: 80%;
    right:0;
    left:0;
}
.body {
    margin-top: 110px;
}
.logoutimg, .newblogimg {
    height: 60px;
}
.accountdirimg {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
.accountdirimg:hover, .homedirimg:hover, .logoutimg:hover, .newblogimg:hover {
    cursor: pointer;
}
.homedirimg {
    height: 100px;
}
.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    margin-right: 20px;
    margin-right: 20px;
}
.left-section {
    display: flex;
    align-items: center;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
}
.middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.account-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 600px;
    background-color: #001f3f;
    border-radius: 50px;
}
.account-within {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.account-top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.profileimg {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-right: 20px;
}
.account-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: top;
    height: 150px;
    color: whitesmoke;
    margin-right: 20px;
}
.edit-symbol {
    height: 50px;
    background-color: whitesmoke;
    width: 50px;
    border-radius: 25px;
}
.editprofileimg {
    height: 60%;
    width: 60%;
    margin-left: 10px;
    margin-top: 10px;
}
.account_edit_form {
    height: 150px;
    width: 150px;
}
.post-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}
.post {
    width: 100%;
    height: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.post-container {
    background-color: rgb(253, 253, 213);
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgb(128, 128, 128);
    transition: width 0.5s, height 0.5s;
}
.post-container:hover {
    width: 85%;
    height: 105%;
    cursor: pointer;
}
.post-title, .post-author {
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.post-title {
    font-weight: bold;
}
.post-author {
    color: navy;
}
.post-author:hover {
    text-decoration: underline;
}
.post-top {
    background-color: rgb(255, 255, 106);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 5px;
}
.post-title {
    text-align: center;
}
.published-date, .edited-date {
    text-align: right;
    margin-right: 7px;
}
.post-image {
    width: 100%;
    height: 170px;
}
.post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-text {
    height: 55px;
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid gray;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-text-no-image {
    flex: 1;
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid gray;
    overflow: hidden;
    text-overflow: ellipsis;
}
.one-post-horizontal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.one-post-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 90%;
    width: 80%;
    border-radius: 30px;
    background-color: rgb(253, 253, 213);
    box-shadow: 2px 2px 10px rgb(128, 128, 128);
    margin-top: 50px;
}
.one-post-left {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 106);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.one-post-title {
    height: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}
.one-post-author {
    height: 30px;
    color: navy;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}
.one-post-author:hover {
    text-decoration: underline;
}
.one-post-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid gray;
    margin-bottom: 8px;
}
.one-post-img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.one-published-date, .one-edited-date {
    height: 30px;
    font-weight: bold;
    margin-left: 8px;
}
.one-post-right {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}
.blog-edit-icon {
    height: 70px;
    display: flex;
    justify-content: right;
    width: 98%;
    align-items: center;
}
.blog-edit-img {
    height: 60%;
    width: 60%;
    margin-left: 10px;
    margin-top: 10px;
}
.one-post-text {
    flex: 1;
    width: 98%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.blog-edit-symbol {
    height: 50px;
    background-color: rgb(255, 255, 106);
    width: 50px;
    border-radius: 25px;
}
.delete-icon {
    height: 30px;
    width: 30px;
}
.login-view {
    width:100%;
    height:450px;
    display: flex;
    justify-content: center;
}
.login-view-flex {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-title {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
}
.login-form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.input-field {
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
}
.input-label {
    margin-right: 5px;
    font-size: 25px;
}
.email-input, .password-input, .username-input {
    height: 60px;
    width: 400px;
    font-size: 25px;
    padding-right: 5px;
    padding-left: 5px;
}
.signbutton {
    display: flex;
    justify-content: center;
}
.login {
    height: 60px;
    width: 400px;
    margin-top: 20px;
    background-color: #001f3f;
    color: whitesmoke;
    box-shadow: 1px 1px 15px black;
    font-size: 20px;
    transition: background-color 0.3s;
}
.login:hover {
    background-color: #004181;
    cursor: pointer;
}
.Signup {
    font-size: 15px;
}
.Signup:hover{
    text-decoration: underline;
    cursor: pointer;
}
.account-edit-top-section {
    display: flex;
    justify-content: center;
    height: 500px;
}
.account-edit-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    width: 600px;
    height:80%;
    background-color: #001f3f;
    border-radius: 50px;
}
.image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.account-input-details {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin-top: 41px;
}
.account-edit-form {
    width: 300px;
}
.field-form {
    width: 400px;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.field-label-list {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.field-label, .field {
    margin-bottom: 5px;
}
.field-label {
    margin-top: 24px;
}
.field-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
}
.account_input {
    height: 35px;
    width: 202px;
    font-size: 15px;
}
.save-button-class {
    display: flex;
    justify-content: center;
    width: 400px;
}
.save-btn {
    width: 50px;
    height: 30px;
    background-color: whitesmoke;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 5px black;
}
.save-btn:hover {
    cursor: pointer;
    background-color: rgb(207, 206, 206);
}
.blog-new-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.blog-new-grid {
    display: grid;
    width: 50%;
    margin-top: 20px;
    grid-template-columns: 5fr 1fr;
    background-color: rgb(253, 253, 213);
    box-shadow: 2px 2px 10px rgb(128, 128, 128);
    border-radius: 30px;
}
.blog-new-grid-section {
    display: grid;
    width: 50%;
    margin-top: 20px;
    grid-template-columns: 1fr;
    background-color: rgb(253, 253, 213);
    box-shadow: 2px 2px 10px rgb(128, 128, 128);
    border-radius: 30px;
}
.new_blog_form {
    width: 100%;
    display: block;
    margin: 10px;
}
.blog_input_list {
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex: 5;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
}
.post-title-input {
    height: 30px;
    width: 100%;
}
.post-text-input {
    height: 200px;
    width: 100%;
}
.blog_input_field_label_list {
    margin-bottom: 18px;
    margin-top: 6px;
}
.blog_input_field_list {
    margin-bottom: 10px;
}
.blog-new-grid-left {
    display: flex;
    flex-direction: column;
}
.blog-new-grid-left-section {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.blog-new-grid-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blog-new-grid-right-middle {
    display: flex;
    justify-content: center;
}
.save-flex {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
}
.submit-button {
    width: 75px;
    height: 30px;
    font-size: 20px;
    background-color: navy;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 5px black;
    border-radius: 3px;
    color: white;
}
.submit-button:hover {
    cursor: pointer;
    background-color: rgb(2, 2, 179);
}
