{% extends 'header_home.html' %}
{% load static %}

{% block accountphoto %}
    {% include 'account_photo_header.html' %}   
{% endblock %}

{% block content %}
<div class="one-post-horizontal">
    <div class="one-post-grid">
        <div class="one-post-left">
            <div class="one-post-left-top">
                <div class="one-post-title">
                    {{post.title}}
                </div>
                 <a href="{% url 'account_page' username=post.author.username %}">
                    <div class="one-post-author">
                        Author: @{{post.author.username}}
                    </div>
                </a>
            </div>
            {% if post.post_image %}
                <div class="one-post-image">
                    <img src="{{post.post_image.url}}" class="one-post-img">
                </div>
            {% endif %}
            <div class="one-published-date">
                Published: {{post.published_date}}
            </div>
            {% if post.edited_date %}
                <div class="one-edited-date">
                    Edited: {{post.edited_date}}
                </div>
            {% endif %}
        </div>
        <div class="one-post-right">
            
            <div class="blog-edit-icon">
                <a href="{% url 'account_page' username=post.author.username %}">
                    <img src="{{post.author.profile_image.url}}" class="account-profile-photo-detail-img">
                </a>
                {% if post.author == request.user %}
                    <a href="{% url 'post_edit' pk=post.pk %}">
                        <div class="blog-edit-symbol">
                            <img src="{% static 'icons/edit.png' %}" class="blog-edit-img">
                        </div>
                    </a>
                {% endif %}
            </div>
            <div class="one-post-text">
                {{post.text|linebreaksbr}}
            </div>
            <div class="one-post-like-section">
                <div class="like-section">
                    <div class="like-button-section">
                        <form method="post" class="one-post-like-form">
                            {% csrf_token %}
                            {% if liked %}
                                <button type="submit" name="like-button" value="unlike" class="unlike-button">
                                    <img src="{% static 'icons/heart.png' %}" class="heart-img">
                                </button>
                            {% else %}
                                <button type="submit" name="like-button" value="like" class="like-button">
                                    <img src="{% static 'icons/unheart.png' %}" class="heart-img">
                                </button>
                            {% endif %}
                        </form>
                    </div>
                    <div class="like-count">
                        {{likes}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'comment_view.html' %}
{% endblock %}