{% extends 'header_home.html' %}
{% load static %}

{% block accountphoto %}
    {% include 'account_photo_header.html' %}   
{% endblock %}

{% block content %}
<form class="new_blog_form" method="post" enctype = "multipart/form-data">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        {{field.label_tag}}
        {{field}}
        {{field.errors}}
        <h3></h3>
    {% endfor %}
    <button type="submit" name='edit-type' value='edit-blog' class="submit-button">SAVE</button>
</form>
<form class="delete_blog" method="post">
    {% csrf_token %}
    <button type="submit" name="edit-type" value="delete-blog" class="delete-button">
        <img src="{% static 'icons/delete-icon.png' class='delete-icon' %}">
    </button>
</form>
{% endblock %}