<div class="page-title">
    RECENT POSTS
</div>
<div class="post-grid">
    {% if not posts %}
        <div class="No-post">
            <h1>No Posts Yet...</h1>
        </div>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <a href="{% url 'account_page' username=post.author.username %}">
                <img src="{{post.author.profile_image.url}}" class="account-profile-photo-img">
            </a>
            <div class="post-container">
                <a href="{% url 'post_detail' pk=post.pk %}">
                    <div class="post-top">
                        <div class="post-title">
                            {{post.title}}
                        </div>
                        <div class="post-author">
                            <a href="{% url 'account_page' username=post.author.username %}">
                                Author: @{{post.author.username}}
                            </a>
                        </div>
                    </div>
                    {% if post.post_image %}
                        <div class="post-image">
                            <img src="{{post.post_image.url}}" class="post-img">
                        </div>
                        <div class="post-text">
                            {{post.text}}
                        </div>
                    {% else %}
                        <div class="post-text-no-image">
                            {{post.text}}
                        </div>
                    {% endif %}
                    <div class="published-date">
                        Published: {{post.published_date}}
                    </div>
                    {% if post.edited_date %}
                        <div class="edited-date">
                            Edited: {{post.edited_date}}
                        </div>
                    {% endif %}
                </a>
            </div>
        </div>
    {% endfor %}
</div>