{% load static %}

{% block post-view-title %}
    {% if search_str %}
        <div class="page-title">
            POST RESULTS FOR '{{search_str}}'
        </div>
    {% endif %}
{% endblock %}
<div class="post-grid">
    {% if not posts %}
        <div class="No-post">
            <h1>No Posts Yet...</h1>
        </div>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <a href="{% url 'account_page' username=post.author.username %}">
                {% if post.author.profile_image %}
                    <img src="{{post.author.profile_image.url}}" class="account-profile-photo-img">
                {% else %}
                    <img src="{% static 'icons/account.png' %}" class="account-profile-photo-img">
                {% endif %}
            </a>
            <div class="post-container">
                <a href="{% url 'post_detail' pk=post.pk %}">
                    <div class="post-top">
                        <div class="post-title">
                            {{post.title}}
                        </div>
                        <div class="post-author">
                            <a href="{% url 'account_page' username=post.author.username %}">
                                Author: @{{post.author.username}}
                            </a>
                        </div>
                    </div>
                    {% if post.post_image %}
                        <div class="post-image">
                            <img src="{{post.post_image.url}}" class="post-img">
                        </div>
                        <div class="post-text">
                            {{post.text}}
                        </div>
                    {% else %}
                        <div class="post-text-no-image">
                            {{post.text}}
                        </div>
                    {% endif %}
                    <div class="post-bottom-section">
                        <div class="like-count-show">
                            <a href="{% url 'likers_view' pk=post.pk %}">
                                {{post.likers.count}} likes
                            </a>
                        </div>
                        <div class="dates">
                            <div class="published-date">
                                Published: {{post.published_date}}
                            </div>
                            {% if post.edited_date %}
                                <div class="edited-date">
                                    Edited: {{post.edited_date}}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
<div class="bottom-section">
    <div class="page-change">
        {% if posts is not False %}
            {% if posts.paginator.num_pages != 1 %}
                {% if posts.number != 1 %}
                    <div class="page-change-1">
                        {% if search_str %}
                            <a href="?page=1&search-bar={{search_str}}">1</a>
                        {% else %}
                            <a href="?page=1">1</a>
                        {% endif %}
                    </div>
                    {% if posts.number != 2 %}
                        <div class="page-change-2">
                            {% if search_str %}
                                <a href="?page={{posts.previous_page_number}}&search-bar={{search_str}}">Previous</a>
                            {% else %}
                                <a href="?page={{posts.previous_page_number}}">Previous</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
                <div class="page-change-3">{{posts.number}} of {{posts.paginator.num_pages}}</div>
                {% if posts.number != posts.paginator.num_pages %}
                    {% if posts.number != almost_final_page %}
                        <div class="page-change-4">
                            {% if search_str %}
                                <a href="?page={{posts.next_page_number}}&search-bar={{search_str}}">Next</a>
                            {% else %}
                                <a href="?page={{posts.next_page_number}}">Next</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="page-change-5">
                        {% if search_str %}
                            <a href="?page={{posts.paginator.num_pages}}&search-bar={{search_str}}">{{posts.paginator.num_pages}}</a>
                        {% else %}
                            <a href="?page={{posts.paginator.num_pages}}">{{posts.paginator.num_pages}}</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% else %}
                <div class="page-change-3">{{posts.number}} of {{posts.paginator.num_pages}}</div>
            {% endif %}
        {% else %}
            <div class="page-title">
                NO POSTS FOUND
            </div>
        {% endif %}
    </div>
</div>