{% extends 'header_home.html' %}
{% load static %}

{% block content %}
<div class="account-top-section">
    <div class="account-section">
        <div class="image-section">
        {% if not user.profile_image %}
            <img src="{% static 'icons/account.png' %}" class="profileimg">
        {% else %}
            <img src="{{ user.profile_image.url }}" class="profileimg">
        {% endif %}
        </div>
        <div class="account-details">
            <div class="name">
                <h2>Name: {{ user.first_name }} {{ user.last_name }}</h2>
            </div>
            <div class="username">
                <h2>Username: {{user.username}}</h2>
            </div>
            <div class="email">
                <h3>Email: {{user.email}}</h3>
            </div>
        </div>
        {% if user == request.user %}
            <div class="edit-symbol">
                <a href="{% url 'account_edit_page' %}">
                    <img src="{% static 'icons/edit.png' %}" class='editprofileimg'>
                </a>
            </div>
        {% endif %}
    </div>
</div>
<div class="account-bottom-section">
    {% include 'post_view.html' %}
</div>
{% endblock %}