{% extends 'header_home.html' %}
{% load static %}

{% block content %}
<div class="account-edit-top-section">
    <div class="account-edit-section">
        <div class="image-section">
            <div class="image-within">
            {% if not user.profile_image %}
                <img src="{% static 'icons/account.png' %}" class="profileimg">
            {% else %}
                <img src="{{ user.profile_image.url }}" class="profileimg">
            {% endif %}
            </div>
        </div>
        <div class="account-input-details">
            <form class="account_edit_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field-form">
                    <div class="field-label-list">
                    {% for field in form.visible_fields %}
                        <div class="field-label">
                            <label class="account-input-label">{{field.label}}</label> 
                        </div>
                    {% endfor %}
                    </div>
                    <div class="field-list">
                    {% for field in form.visible_fields %}
                        <div class="field">
                            {{field}}
                            {{field.errors}}
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="save-button-class">
                    <button class="save-btn" type="submit">SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="account-bottom-section">

</div>
{% endblock %}